body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:26px;
  width:74px;
  height:26px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:72px;
  width:74px;
  height:26px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:126px;
  width:74px;
  height:26px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:185px;
  width:74px;
  height:26px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:239px;
  width:74px;
  height:26px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:298px;
  width:105px;
  height:26px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:350px;
  width:93px;
  height:26px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:27px;
  width:300px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:126px;
  width:300px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:395px;
  width:93px;
  height:26px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:452px;
  width:113px;
  height:16px;
  color:#999999;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u71_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:72px;
  width:300px;
  height:26px;
  color:#999999;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:186px;
  width:300px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:191px;
  width:96px;
  height:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:243px;
  width:300px;
  height:22px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u75_input:disabled {
  color:grayText;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:299px;
  width:300px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:351px;
  width:300px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:396px;
  width:300px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:478px;
  width:291px;
  height:20px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:287px;
  white-space:nowrap;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:68px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:508px;
  width:416px;
  height:68px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:600px;
  width:140px;
  height:40px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:402px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:50px;
  width:577px;
  height:402px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:243px;
  width:74px;
  height:26px;
  color:#FF0000;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:683px;
  width:300px;
  height:70px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:683px;
  width:300px;
  height:70px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  word-wrap:break-word;
}
