body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:56px;
  width:812px;
  height:96px;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:30px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:30px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:0px;
  width:140px;
  height:30px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:116px;
  height:30px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:0px;
  width:92px;
  height:30px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:0px;
  width:116px;
  height:30px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:36px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:30px;
  width:116px;
  height:36px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:30px;
  width:116px;
  height:36px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:30px;
  width:140px;
  height:36px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:30px;
  width:116px;
  height:36px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:30px;
  width:92px;
  height:36px;
  color:#FF0000;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:30px;
  width:116px;
  height:36px;
  text-decoration:underline;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:116px;
  height:30px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:66px;
  width:116px;
  height:30px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:66px;
  width:116px;
  height:30px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:66px;
  width:140px;
  height:30px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:66px;
  width:116px;
  height:30px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:66px;
  width:92px;
  height:30px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:66px;
  width:116px;
  height:30px;
  color:#FF0000;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
