body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:71px;
  width:1024px;
  height:120px;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:102px;
  height:30px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:102px;
  height:30px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:102px;
  height:30px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:0px;
  width:102px;
  height:30px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:102px;
  height:30px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:0px;
  width:102px;
  height:30px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:102px;
  height:30px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:0px;
  width:102px;
  height:30px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:0px;
  width:106px;
  height:30px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:102px;
  height:30px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:30px;
  width:102px;
  height:30px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:30px;
  width:102px;
  height:30px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:30px;
  width:102px;
  height:30px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:30px;
  width:102px;
  height:30px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:30px;
  width:102px;
  height:30px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:30px;
  width:102px;
  height:30px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:30px;
  width:102px;
  height:30px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:30px;
  width:102px;
  height:30px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:30px;
  width:106px;
  height:30px;
  font-size:20px;
  color:#0000FF;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:102px;
  height:30px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:60px;
  width:102px;
  height:30px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:60px;
  width:102px;
  height:30px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:60px;
  width:102px;
  height:30px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:60px;
  width:102px;
  height:30px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:60px;
  width:102px;
  height:30px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:60px;
  width:102px;
  height:30px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:60px;
  width:102px;
  height:30px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:60px;
  width:102px;
  height:30px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:60px;
  width:106px;
  height:30px;
  font-size:20px;
  color:#0000FF;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:102px;
  height:30px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:90px;
  width:102px;
  height:30px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:90px;
  width:102px;
  height:30px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:90px;
  width:102px;
  height:30px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:90px;
  width:102px;
  height:30px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:90px;
  width:102px;
  height:30px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:90px;
  width:102px;
  height:30px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:90px;
  width:102px;
  height:30px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:90px;
  width:102px;
  height:30px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:90px;
  width:106px;
  height:30px;
  color:#0000FF;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:21px;
  width:77px;
  height:40px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:52px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:9px;
  width:535px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:531px;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:52px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:223px;
  width:535px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:531px;
  word-wrap:break-word;
}
